.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: $semibold;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: $global-radius;

  &.primary {
    background-color: $blue;
    color: $white;
    border-color: $blue;
    transition: background-color ease .3s, border ease .3s;

    &:hover {
      background-color: darken($blue, 5%);
      border-color: darken($blue, 5%);
    }
  }

  &.outline {
    background-color: $white;
    color: $blue;
    border-color: $blue;
    transition: background-color ease .3s, color ease .3s, border ease .3s;
    &:hover {
      background-color: darken($blue, 5%);
      color: $white;
      border-color: darken($blue, 5%);
    }
  }
}