.cards {
  a {
    outline: none;
  }

  figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    * {
      position: absolute;
      z-index: 2;
    }
  }

  &.image-cards {
    figure.shadow:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom left, rgba($black, 0), rgba($black, 0.6));
    }

    .slick-slide > div {
      width: 100%;
    }
  }

  &.text-cards {
    .column, a {
      height: 100%;
    }

    a {
      background-color: $white;
    }
  }

  &.carousel {
    .slick-list {
      width: 100%;
      padding: 0 !important;
    }

    .slick-track {
      display: flex;
    }

    .slick-slide {
      display: flex !important;
      height: auto;
      outline: none;

      > div {
        width: 100%;
      }
    }

    .slick-dots {
      position: relative;
      margin-top: map-get($spacing, 4);
    }

    .column {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &.card-spacing {
    margin-bottom: - map-get($spacing, 4);

    .column {
      margin-bottom: map-get($spacing, 4);
    }
  }
}

.card {
  display: block;
  width: 100%;
  border: 1px solid $medium-gray;
  transition: box-shadow ease .3s;

  figure {
    @include bg-cover(center);
    @include aspect-ratio(4,3);
  }

  &:hover {
    box-shadow: $shadow;
  }
}

.card-text {
  padding: map-get($spacing, 3);
  background-color: $white;
  color: $black;
  border-top: 1px solid $medium-gray;

  *:first-child {
    margin-bottom: map-get($spacing, 2);
  }
}