.hero {
  margin-top: - map-get($spacing, 4) !important;
  margin-bottom: - map-get($spacing, 4) !important;

  &.carousel {
    .slick-dots {
      bottom: map-get($spacing, 2);
    }
  }
}

.hero-image {
  height: 500px;
  @include bg-cover(center);

  .column {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      text-align: center;
    }
  }

  h2, h6 {
    margin-bottom: 0;
  }

  .buttons {
    margin-top: map-get($spacing, 4);
  }

  @include breakpoint(medium up) {
    h2 {
      font-size: 100px;
      line-height: 1;
    }
  }

  @include breakpoint(small down) {
    height: 350px;
  }
}