.hero {
  margin-top: - map-get($spacing, 4) !important;
  margin-bottom: - map-get($spacing, 4) !important;
}

.hero-image {
  height: 500px;
  @include bg-cover(center);

  .column {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      text-align: center;
    }
  }

  @include breakpoint(small down) {
    height: 350px;
  }
}